build/
out/
.vs/
.vscode/
.idea/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.obj
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.o
*.so
*.a
moc_*.cpp
qrc_*.cpp
ui_*.h
*_autogen/
Testing/
